:root {
    --red: red;
    --green: green;
    --blue: rgb(80, 143, 202);
}
html {
    scroll-behavior: smooth;
}
/*Animation Handler*/
div.flex-item.animated {
    animation-delay: 0.7s;
}
/*Grid Parent*/
body{
    background-color: white;
    display: grid;
    grid-template-areas: "nav"
                         "header"
                         "layer1"
                         "layer2"
                         "services"
                         "layer3"
                         "layer4"
                         "contact"
                         "info"
                         "copyright";
    grid-template-columns: 100vw;
    grid-template-rows: repeat(10, auto);
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    overflow-x: hidden;
}
/*Handles the Navigation bar*/
.navbar {
    grid-area: nav;
    background-color: #383E4C;
    width: 100vw;
    margin: 0;
}
.nav {
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.nav li {
    list-style-type: none;
    text-align: center;
    margin:0.8rem;
}
.nav li a {
    text-decoration: none;
    text-decoration-color: none;
    color: white;
    display: block;
    border-bottom: 0.1rem solid grey;
    padding: 0.8rem;
}
.navbar-toggle {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 30px;
    cursor: pointer;
    color: rgba(255, 255, 255, 0.8);
    z-index: 1;
    visibility: hidden;
}
.active {
    display: none;
}
/*Handles the header*/
.header {
    grid-area: header;
    display: flex;
    flex-direction:row;
    width: 100vw;
    height: 50vh;
    margin-bottom: 1rem;
}
.flex-item {
    flex: 1;
    color: black;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    font-size: 20px;
    transition:
        font-size 0.6s cubic-bezier(0.61,-0.19, 0.7,-0.11),
        flex 0.6s cubic-bezier(0.61,-0.19, 0.7,-0.11);
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.flex-item > * {
    margin: 0;
    transition: transform 0.4s;
    display: flex;
    flex: 1 0 auto;
    justify-content: center;
    align-items: center;
}
.flex-item p {
    text-align: center;
}
.flex-item > *:first-child{transform: translateY(-10px); color: rgba(54, 31, 182, 0)}
.flex-item.open > *:first-child{transform: translateY(0); color: white;}
.flex-item > *:last-child{transform: translateY(10px); color: rgba(54, 31, 182, 0)}
.flex-item.open > *:last-child{transform: translateY(0); color: white; }

.flex-open {
    flex: 5;
    font-size: 40px;
}
.white {
    color: white;
}
.opaque {
    color: rgba(54, 31, 182, 0);
}
.item1 {background-image: url(img/4-5.jpg); }
.item2 {background-image: url(img/bg-2.jpg); }
.item3 {background-image: url(img/bg-3.jpg); }
.item4 {background-image: url(img/bg-1.jpg); }
.item5 {background-image: url(img/bg-5.jpg); }
/*This handles the first section*/
.layer1 {
    grid-area: layer1;
    height: auto;
    display: flex;
    justify-content: center;
    padding: 2rem;
}
.layer1 > div {
    display: flex;
    max-width: 1024px;
}
.layer1-card {
    margin: 0 1rem 0 1rem;
    max-width: 20rem;
    background-color: rgb(235, 233, 233);
    flex: 1;
    padding-bottom:0.3rem;
}
.card-img {
    max-width: 100%;
    height: auto;
}
.card-head-text {
    font-size: 1.7rem;
    font-weight: bold;
    padding: 0.3rem;
}
.card-text {
    padding: 0.3rem;
}
.card-btn {
    border-radius: 0.3rem;
    border: 1px solid grey;
    padding: 0.6rem;
    width: 50%;
    color: white;
}
.div-btn {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}
/*This handles the second section*/
.layer2 {
    grid-area: layer2;
    height: auto;
    display: flex;
    justify-content: center;
    padding-bottom: 3rem;
}
.layer2 > div {
    max-width: 1024px;
    display: flex;
    flex-direction: row;
}
.layer2-col {
    height: auto;
    width: 50%;
    margin: 1rem;
    background-color: rgb(235, 233, 233);
}
.layer2-img img {
    max-width: 100%;
    height: auto;
}
.layer2-img {
    margin-bottom: 1rem;
}
.layer2-header-text {
    text-align: center;
    margin-bottom: 1rem;
    font-size: 25px;
}
.layer2-text {
    text-align: start;
    padding: 1rem;
}
/*This handles the services section*/
.services {
    grid-area: services;
    height: auto;
    background-image: url(img/bg-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    display: flex;
    align-items: center;
    color: white;
    margin-bottom: 3rem;
    justify-content: center;
}
.services-head-text {
    text-align: center;
    padding-bottom: 3rem;
    font-size: 2rem;
}
.services-text {
    text-align: center;
}
.services > div {
    width: 600px;
    padding: 5rem;
}
/*This handles the third section*/
.layer3 {
    grid-area: layer3;
    display: flex;
    justify-content: center;
    height: auto;
    padding-bottom: 3rem;
}
.layer3-img {
    width: 100%;
    height:auto;
    margin-bottom: 1rem;
}
.layer3-head-text {
    margin-bottom: 1rem;
    font-size: 25px;
}
.layer3 > div {
    display: flex;
    flex-direction: row;
    max-width: 1024px;
}
.layer3-col {
    width: 250px;
    margin: 0.5rem;
    text-align: center;
    background-color: rgb(235, 233, 233);
}
/*This handles the fourth section*/
.layer4 {
    grid-area: layer4;
    display: flex;
    justify-content: center;
    padding-bottom: 3rem;
}
.layer4-img {
    width: 100%;
}
.layer4-head-text {
    padding:1rem;
    font-size: 1.7rem;
}
.layer4-text {
    padding: 1rem;
}
.layer4 > div {
    max-width: 1024px;
    background-color: rgb(235, 233, 233);
}
.layer4-btn {
    border-radius: 0.3rem;
    border: 1px solid grey;
    padding: 0.6rem;
    width: 30%;
    margin-left: 1rem;
    margin-bottom: 0.7rem;
}
/*This handles the contact info section*/
.contact {
    grid-area: contact;
    background-image: url(img/bg-3.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 450px;
}
.contact > div {
    width: 700px;
}
.contact-header {
    text-align: center;
    padding-bottom: 2rem;
    font-size: 35px;
    color: white;
}
.contact-text {
    text-align: center;
    margin-bottom: 2rem;
    padding: 1rem;
    border-radius: 0.3rem;
    border: 1px solid gray;
    background-color: rgba(173, 173, 173, 0.5);
}
.form {
    display: flex;
    justify-content: space-between;
}
.input {
    display: flex;
    flex-direction: column;
}
.input input {
    margin-bottom: 1rem;
    height: 25px;
    border-radius: 0.3rem;
    border: 1px solid gray;
    background-color: rgba(173, 173, 173, 0.5);
    width: 300px;
}
.textarea textarea {
    border-radius: 0.3rem;
    border: 1px solid gray;
    background-color: rgba(173, 173, 173, 0.5);
    width: 350px;
}
.input input::placeholder, .textarea textarea::placeholder {
    color: black;
}
.contact-button {
    display: flex;
    justify-content: center;
}
.contact-btn {
    padding: 0.7rem 1.5rem 0.7rem 1.5rem;
    border-radius: 0.3rem;
    border:1px solid grey;
    background-color: black;
    color: white;
    font-size: 20px;
}
/*This handles the information section*/
.info {
    grid-area: info;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid grey;
}
.info > div {
    width: 60vw;
    text-align: center;
    color: rgb(102, 101, 101);
    font-style: italic;
}
.info-header-text {
    padding: 1rem;
    font-size: 30px;
}
.info-text {
    padding: 1rem;
    font-size: 15px;
}
/*Handles copyright information*/
.copyright {
    grid-area: copyright;
    height: 8vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.copyright > div {
    width: 60vw;
}
.copyright-text {
    font-size: 12px;
    text-align: center;
    color: rgb(102, 101, 101);
}
.red-color {
    color: var(--red);
}
.green-color {
    color: var(--green);
}
.blue-color {
    color: var(--blue);
}
.red-bg {
    background-color: var(--red);
}
.green-bg {
    background-color: var(--green);
}
.blue-bg {
    background-color: var(--blue);
}
/*All media queries*/
@media all and (max-width: 868px) {
    .layer3 > div {
        max-width: 100vw;
    }
    .nav {
        flex-direction: column;
        margin: 0;
        padding: 0;
    }
    .nav li {
        margin: 0;
    }
    .navbar-toggle {
        visibility: unset;
    }
    .input > input, .textarea > textarea{
        margin: 0.5rem;
    }
}
@media all and (max-width: 600px) {
    .flex-open {
        flex: 1;
        font-size: 20px;
    }
    .layer1 > div {
        display: flex;
        flex-direction: column;
    }
    .layer1-card {
        margin-bottom: 1rem;
    }
    .layer2 > div {
        display: flex;
        flex-direction: column;
        margin: 0 1rem 0 1rem;
    }
    .layer2-col {
        width: 100%;
        margin: 0 0 1rem 0;
    }
    .layer3 > div {
        display: flex;
        flex-direction: column;
        width: 90%;
    }
    .layer3-col {
        width: 85vw;
    }
    .layer4 > div {
        width: 90vw;
    }
    .contact {
        height: auto;
        padding-bottom: 1rem;
    }
    .contact > div {
        width: 90vw;
    }
    .input > input, .textarea > textarea{
        width: 95%;
    }
    .form {
        display: flex;
        flex-direction: column;
    }
    .info > div {
        width: 90vw;
    }
}